*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.top{
    background-color: white;
    text-align: center;
    display: flex;
}


.t1{
    position: static;
    width: 22.2%;
    height: 10%;
    border: 1px solid red;
    margin: 10px;
    
}
.t2{
    position:relative;
    width: 55.5%;
    border: 1px solid red;
    margin: 10px;
}
.t3{
    position:static;
    width: 22.2%;
    border: 1px solid red;
    margin: 10px;
}
/* 메뉴 */
.topnav{
    overflow: hidden;
    background-color: black;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.content{
    display: grid;
    background-color: azure;
    padding: 10px;
    height: 200px;
}
.m1{
    position: relative;
    height: auto;
    width: 100%;
    border: 1px solid red;
}
.m2{
    position: relative;
    border: 1px solid red;
}
.m3{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.m4{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.footer {
    background-color: antiquewhite;
    padding: 10px;
}
