* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
.header {
    background-color: aquamarine;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    margin: 0;
}
.top_container{
    display: flex;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
}
div.top1{
    height: 100%;
    width: auto;
    position: static;
}
div.top2 {
    margin: 10px;
}
div.menu{
    position: relative;
    list-style: none;
    flex:1;
}
