* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
.header {
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid red;
    text-align: center;
    margin: 0px 250px;
}
.top_container{
    display: flex;
    text-align: center;
    border: 1px solid red;
    width: 100%;
    height: auto;
}
.top1 .logo {
    flex:22%;

}
.top2{
    flex:66%;
    position: relative;
    left: 0;
    top : 0;
}
.top3{
    flex:22%;
}