ul{
    /* 리스트 기호(점) 없애기 */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    /* 메뉴 타겟(클릭영역) 확보하기 */
    display: block;
    width: 80px;
    /* ========================== */
    background-color: #dddddd;

    padding: 8px 16px;
    /* 밑줄없애기 */
    text-decoration: none;
}
li a:hover {
    background-color: black;
    color: white;
}