* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    width: 800px;
    background-color: aqua;
}
header>div,footer>div {
    width: 33.33%;
    height: 100px;
    border: 10px solid red;
    float: left;
}
ul {
    height: 80px;
    border: 1px solid salmon;
    background-color: azure;
}
li {
    float: left;
}
.clearboth{
    clear: both;
}
article{
    float: left;
    height: 100px;
    background-color: skyblue;
    width: 100px;
}
.cont{
    border: 2px solid white;
    width: 50%;
}
.map{
    width: 100%;
}
