         p {
            background-color: blue;
            color: red;
        }
        .m1 {
            margin: 20px;
            text-align: center;
            }
        .m2 {
            margin: 10px 30px;
            text-align: center;
            }
        .m4{
            margin: 10px 30px 50px 70px;
            text-align: center;
            }