table{
    width : 100%;
    border-spacing: 10px;
}

table, th, td {
    border: 1px solid white;
}
th, td {
    background-color: bisque;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
tr{
    height: 50px;
}